@model LoginModel

<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>
        <hr />
    </div>
    <div class="col-md-6">
        <h2>External services</h2>
        <hr />
        <form asp-action="ExternalLogin" asp-controller="Account" method="post">
            @foreach (var item in Model.ExternalProviders)
            {
                <button class="btn btn-primary" type="submit" name="provider" value="@item.Name">@item.DisplayName</button>
            }
        </form>
    </div>
</div>