@model LoginModel

<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>
        <hr />
        <form asp-action="Register" asp-controller="Account" method="post">
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="text" asp-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input type="text" asp-for="Password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>External services</h2>
        <hr />
        <form asp-action="ExternalLogin" asp-controller="Account" method="post">
            @foreach (var item in Model.ExternalProviders)
            {
                <button class="btn btn-primary" type="submit" name="provider" value="@item.Name">@item.DisplayName</button>
            }
        </form>
    </div>
</div>